@import url('https://fonts.googleapis.com/css?family=Notable|Space+Mono');

body{
	background-image: url(images/bg.png);
	
}

.container{
	display: flex;
	flex-direction: inline-flex;
	justify-content: space-between;
	
	
}


.placar{
	background-color: #800;
	border: 2px solid #400;
	border-radius: 20px;
	color: #FFF;
	font-size: 24px;
	font-family: 'Space Mono', monospace;
	margin: 5px 0 0 0;
	text-align: center;
	border-radius: 20px;
	width: 300px;
	margin: 5px;

}




img{
	width: 60px !important;
}

h1{
color: #FFF;
	font-size: 35px;
	font-family: 'Notable', sans-serif;
	align-self: center;

}


canvas{
	width: 640px;
	height: 480px;
	align-self: center;
	border: 3px solid #FFF;
	
}
canvas:hover{
	cursor: none;
}

a{
    text-decoration: none;
}

.control-buttons, .score-buttons, .game-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

#help{
	align-self: center;
	margin-top: 20px;
}

.control-buttons{
margin-top: 30px;
	
	
}

.swal-modal {
  background-color: rgba(150,0,0,0.69);
  border: 3px solid white;
}



.swal-text {
	color: #fff; 
	font-size: 26px;
	font-weight: 500;
	font-family: 'Space Mono', monospace;

}

.swal-button {
	margin: auto;
}